<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Tribute</title>
    <link rel="stylesheet" media="all" href="../css/app.css" />
</head>
<body>
    <div class="main-container" id="main">
<h1 class="text-center" id="title">Igor Sikorsky</h1>

<h3 class="text-center"><u>Aviation pioneer in both helicopters and fixed-wing aircraft</u></h3>
<div class="container">
    <div class=" main-img" id="img-div">
<img class ="images" id="image"  src="https://upload.wikimedia.org/wikipedia/commons/f/fd/Sikorsky_Skycrane_carrying_house_bw.jpg" alt="Sikorsky Skycrane carrying a house" />
  <p id="img-caption">Sikorsky Skycrane carrying a house</p>
</div>
</div>


<div class=" container description" id="tribute-info">
   <p> <b>Igor Ivanovich Sikorsky life:</b></p>
  <ul>
    <li><b>1889</b> - Igor Sikorsky was born in Kiev, Russian Empire (in present-day Ukraine).</li>
    <li><b>1900</b> - Аccompanied his father to Germany and through conversations with his father, became interested in natural sciences. After returning home, Sikorsky began to experiment with model flying machines, and by age 12, he had made a small rubber band-powered helicopter.</li>
  <li><b>1903</b> - Sikorsky began studying at the Saint Petersburg Maritime Cadet Corps, at the age of 14.</li>
    <li><b>1906</b> - He determined that his future lay in engineering, so he resigned from the academy, despite his satisfactory standing, and left the Russian Empire to study in Paris.</li>
    <li><b>1907</b> - He returned to the Russian Empire, enrolling at the Mechanical College of the Kiev Polytechnic Institute.</li>
    <li><b>1908</b> - After the academic year, Sikorsky again accompanied his father to Germany  where he learned of the accomplishments of the Wright brothers' Flyer and Ferdinand von Zeppelin's dirigible.</li>
     <li><b> 1909</b> - Returned to Russia and began designing his first helicopter. Despite his progress in solving technical problems of control, Sikorsky realized that the aircraft would never fly.</li>
     <li><b>1912</b> - Igor Sikorsky became Chief Engineer of the aircraft division for the Russian Baltic Railroad Car Works (Russko-Baltiisky Vagonny Zavod or R-BVZ) in Saint Petersburg. His work at R-BVZ included the construction of the first four-engine aircraft, the S-21 Russky Vityaz.</li>
     <li><b>1919</b> - After World War I, Igor Sikorsky briefly became an engineer for the French forces in Russia, during the Russian Civil War.Seeing little opportunity for himself as an aircraft designer in war-torn Europe, and particularly Russia, ravaged by the October Revolution and Civil War, he immigrated to the United States, arriving in New York. </li>
     <li><b>1932</b> - He joined the faculty of the University of Rhode Island to form an aeronautical engineering program.</li>
     <li><b>1923</b> - Sikorsky formed the Sikorsky Manufacturing Company in Roosevelt, New York.</li>
     <li><b>1928</b> - Sikorsky became a naturalized citizen of the United States.The Sikorsky Manufacturing Company moved to Stratford, Connecticut in 1929. It became a part of the United Aircraft and Transport Corporation (now United Technologies Corporation).</li>
     <li><b>1939</b> - Designed by Sikorsky, VS-300 experimental prototype helicopter. </li>
     <li><b>1942</b> - Sikorsky's success with the VS-300 led to the R-4, which became the world's first mass-produced helicopter. </li>
     <li><b>1972</b> - Sikorsky died at his home in Easton, Connecticut.</li>
  </ul>
    <h3 class="link" id="tribute-link">Find more information on  <a href="https://en.wikipedia.org/wiki/Igor_Sikorsky" target="-blank">Wikipedia</a></h3>
</div>

  </div>
<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
</body>
</html>