---
title: Test landing
---
{% extends "layouts/_layout.html" %}

{% block content %}


<!-- begin header -->
<header class="header" id="header">
  <!-- begin logo -->
  <div class="logo">
    <img class="header-img" id="header-img" src="https://image.flaticon.com/icons/svg/631/631570.svg" alt="#"/>
    <h1 class="logo-title">Geometric lighting</h1>
  </div>
  <!-- end logo -->
  <!-- begin nav -->
    <nav class="nav" id="nav-bar">
      <ul>
        <li><a class="nav-link" href="#pricing">Pricing</a></li>
        <li><a class="nav-link" href="#video">Video</a></li>
        <li><a class="nav-link" href="#contact">Contact</a></li>
      </ul>
    </nav>
    <!-- end nav -->
</header>
<!-- end header -->
<!-- begin main -->
<main class="main">
  <!-- begin catlog -->
  <section class="catalog" id="pricing">
    <!-- begin container -->
    <div class="container">
      <h2 class="section-title">Most popular lighting of geometric disign</h2>
      <!-- begin catalog-coloms -->
      <div class="catalog-coloms">
        <!-- begin catalog-col -->
      <div class="catalog-col">
        <h4 class="catalog-col__title">1-light pendant</h4>
        <a  href="#">
          <img class="catalog-col__img" src="https://images.unsplash.com/photo-1502743780242-f10d2ce370f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1016&q=80" alt=""/>
        </a>
        <p class="catalog-col__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <span class="catalog-col__price">$50</span>
        <button class="catalog-col__btn">Buy</button>
      </div>
      <!-- end catalog-col -->
      <!-- begin catalog-col -->
      <div class="catalog-col">
        <h4 class="catalog-col__title">3-light pendant</h4>

          <a  href="#">
          <img class="catalog-col__img" src="https://images.unsplash.com/photo-1546902172-146006dcd1e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt=""/>
        </a>

        <p class="catalog-col__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <span class="catalog-col__price">$100</span>
        <button class="catalog-col__btn">Buy</button>
      </div>
      <!-- end catalog-col -->
      <!-- begin catalog-col -->
      <div class="catalog-col">
        <h4 class="catalog-col__title">Desck lamp</h4>
        <a  href="#">
          <img class="catalog-col__img" src="https://images.unsplash.com/photo-1561363232-14c6bf728839?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt=""/>
        </a>
        <p class="catalog-col__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        <span class="catalog-col__price">$40</span>
        <button class="catalog-col__btn">Buy</button>
      </div>
      <!-- end catalog-col -->
      </div>
      <!-- end catalog-coloms -->
    </div>
    <!-- end container -->
  </section>
  <!-- end catlog -->
  <!-- begin review -->
  <section class="review" >
    <h2 class="section-title">Video review</h2>
    <!-- begin container -->
    <div class="container">
      <!-- begin reviw__video -->
      <div class="review__video">
        <iframe id="video" width="100%" height="472" src="https://www.youtube.com/embed/QVyNycSdTus" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <!-- end review__video -->
    </div>
    <!-- end container -->
  </section>
  <!-- end review -->
  <!-- begin contact -->
  <section class="contact" id="contact">
    <h2 class="section-title">Contact</h2>
    <p class="description">You can contact us using this form.</p>
    <!-- begin container -->
    <div class="container">
        <form id="form" action="https://www.freecodecamp.com/email-submit" class="form"  >
          <label id="name-label" class="label">Name</label>
          <input type="text" id="name" required class="form__input" placeholder="Enter your name"/>
          <label id="email-label" class="label">Email</label>
          <input type="email" id="email" name="email" class="form__input" placeholder="Enter your email" required=""/>
          <textarea required class="form__input text" rows="3" placeholder="Write your comment here"></textarea>
          <input id="submit" type="submit" class="form__btn" value="Submit"/>
        </form>
    </div>
    <!-- end container -->
  </section>
  <!-- end contact -->
  <footer>
    <!-- begin footer-col1 -->
    <div class="footer-col1">
      <span>Copyright 2020, Geometric lighting</span>
    </div>
    <!-- end footer-col1 -->
    <!-- begin footer-col2 -->
    <div class="footer-col2">
      <ul>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <!-- end footer-col2 -->
  </footer>


</main>
<!-- end main -->





<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>


{% endblock %}
