    <!-- begin sidebar menu -->
    <div class ="sidebar-menu">

        <div class="toggle-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li><a href="/page.html">HOME</a></li>
            <li><a href="../catalog/present_simple_rus.html" >Present Simple</a></li>
            <li><a href="../catalog/past_simple_rus.html" >Past Simple</a></li>
            <li><a href="../catalog/future_simple_rus.html" >Future Simple</a></li>
        </ul>
    </div>
    <!-- end sidebar menu-->
